.movie {
    border: 1px solid;
    width: calc(20% - 2px);
    /*height: calc(20% - 2px);;*/
}

.movie:hover {
    cursor: pointer;
    background-color: rgb(116, 112, 112);
}

img{
    width: 90%;
    margin: 10px;
    border: 10px;
}